body {
    font-size: 16px;
	color: $body-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-small {
	font-size: 12px;
}

.text-medium {
	font-size: 14px;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	letter-spacing: 0.03rem;
}

.font-weight-medium {
	font-weight: $font-weight-medium;
}
